#lastPost .widget>.title {
    display: none;
    opacity: 0;
}


.featured{background:#fff;padding:5px;overflow:hidden;margin-bottom:30px}

.cat-title {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #16a3b8;
    margin-bottom: 14px;
}

.cat-title a {
    background: #16a3b8;
    color: #f5f7f9;
    padding: 10px 24px;
    position: relative;
    border-top-right-radius: 8px;
}

.cat-title a:before {
    content: '';
    border: 2px solid white;
    position: absolute;
    left: 5px;
    top: -1px;
    bottom: 0;
    transform: rotate(-21deg);
    height: 100%;
}

@media(min-width:768px) {
    .grid-3.style1 .articles .article-posts:first-child {
        width: 66.666666%;
    }
    .grid-3.style1 .articles .article-posts:first-child .thumbnail {
        height: 426px;
    }
    .grid-3.style1 .box-content,
    .grid-3.style2 .box-content {
        height: 120px;
    }
}

.grid-3.style1 .articles .link {
    font-size: 16px;
}

@media(min-width:768px) and (max-width:1199px) {
    .style1 .article-footer {
        position: absolute;
        top: 0;
        background: rgb(0 0 0 / 0.35);
        padding: 4px;
        right: 0;
    }
    .style1 .article-footer .meta,
    .style1 .article-footer .meta a {
        color: #f5f7f9 !important;
    }
    .style1.overlay-content .article-footer {
        position: static;
        background: transparent;
    }
}


/* start style2 */

@media (min-width: 768px) {
    .grid-3.style2 .articles .article-posts:nth-child(1),
    .grid-3.style2 .articles .article-posts:nth-child(2) {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .grid-3.style2 .articles .article-posts:nth-child(1) .thumbnail,
    .grid-3.style2 .articles .article-posts:nth-child(2) .thumbnail {
        height: 250px;
    }
}


/* end style2 */


/* style1 , style2 overlay */

.grid.overlay-content .articles .article-posts .box-content .post-headding {
    margin: 0;
}

.grid-3.style1.overlay-content .articles .article-posts:first-child .thumbnail {
    height: 306px;
}

.grid.overlay-content .box-content {
    height: 100%;
    background: rgb(0 0 0 / 0.55);
    position: absolute;
    right: 0;
    left: 0;
    border: 0;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
}

.grid.overlay-content .box-content .link {
    color: #f5f7f9 !important;
    text-shadow: 3px 3px 4px rgb(0 0 0 / 0.50);
}

.grid.overlay-content .box-content .meta,
.grid.overlay-content .box-content .meta a {
    color: #dcddde;
}


/* end style1 overlay
